body {
  color: #6e84f2 ;
}

h1 {
	color: #94e773;
}

h2 {
	color: #6e84f2;
}

ol {
	color: #6e84f2;
}

header {
  padding: 60px;
  text-align: center;
  background:#6e84f2;
  color: white;
  font-size: 30px;
}


footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#6e84f2 ;
  color: #94e773;
  text-align: center;
}